version: "3.9"

services:
  postgres:
    container_name: 'postgres'
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    command:
      - "postgres"
      - "-c"
      - "port=${POSTGRES_PORT}"
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -p ${POSTGRES_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5

  library:
    container_name: 'library'
    build: .
    restart: always
    ports:
      - "${GRPC_PORT}:${GRPC_PORT}"
      - "${GRPC_GATEWAY_PORT}:${GRPC_GATEWAY_PORT}"
    environment:
      GRPC_PORT: "${GRPC_PORT}"
      GRPC_GATEWAY_PORT: "${GRPC_GATEWAY_PORT}"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: "${POSTGRES_PORT}"
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internal

volumes:
  postgres-data:

networks:
  internal:
    driver: bridge